$danger: #cc0000;
$warning: #ff8800;
$info: #33b5e5;
$success: #00c851;

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

.app-alerts {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 99999;

  .app-alert {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 200px;
    max-width: 400px;
    flex-basis: auto;
    flex-grow: 1;

    @include transition(200ms);
    opacity: 0.8;
    margin: 5px 0;

    &:hover {
      opacity: 1;
    }
    &.danger {
      background-color: $danger;
      .prefix{
        background: url("./icon-alert.png");
        background-size: contain;
        background-position: center;
      }
    }
    &.warning {
      background-color: $warning;
      .prefix{
        background: url("./icon-alert.png");
        background-size: contain;
        background-position: center;
      }
    }
    &.info {
      background-color: $info;
      .prefix{
        background: url("./icon-info.png");
        background-size: contain;
        background-position: center;
      }
    }
    &.success {
      background-color: $success;
      .prefix{
        background: url("./icon-info.png");
        background-size: contain;
        background-position: center;
      }
    }

    .prefix {
      margin: auto;
      text-align: center;
      width:30px;
      height: 30px;
    }

    .content {
      padding: 25px 0;
      line-height: 20px;
      margin: auto;
      float: left;
      color: white;
    }
  }
}