<div class="app-alerts">
    <div class="app-alert"
         [ngClass]="alert.type"
         [@enterAnimation]="show"
         *ngFor="let alert of alerts; let index = index">

        <i class="fa fa-info prefix" aria-hidden="true" *ngIf="(alert.type == 'info' || alert.type == 'success') && fontAwesome"></i>
        <i class="fa fa-exclamation prefix" aria-hidden="true" *ngIf="(alert.type == 'warning' || alert.type == 'danger') && fontAwesome"></i>
        <span *ngIf="!fontAwesome" class="prefix">!</span>
        {{alert.content}}

        <span *ngIf="!fontAwesome" class="close-icon" (click)="close(index)">X</span>
        <i *ngIf="fontAwesome" class="fa fa-times clickable close-icon" aria-hidden="true" (click)="close(index)"></i>
    </div>

</div>