$danger: #cc0000;
$warning: #ff8800;
$info: #33b5e5;
$success: #00c851;

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

.app-alerts {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 99999;

  .app-alert {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 200px;
    max-width: 400px;
    flex-basis: auto;
    flex-grow: 1;

    @include transition(200ms);
    opacity: 0.8;
    margin: 5px 0;

    &:hover {
      opacity: 1;
    }
    &.danger {
      background-color: $danger;
    }
    &.warning {
      background-color: $warning;
    }
    &.info {
      background-color: $info;
    }
    &.success {
      background-color: $success;
    }

    .prefix {
      width: 50px;
      margin: auto;
      text-align: center;

      .icon {
        display: block;
        color: white;
        font-weight: lighter;
      }
    }

    .content {
      padding: 15px 0;
      line-height: 20px;
      margin: auto;
      float: left;
      width: 80%;
      color: white;
    }

    .postfix {
      width: 50px;
      margin: auto;
      text-align: center;

      .icon {
        display: block;
        cursor: pointer;
        color: white;
        font-weight: lighter;
      }
    }
  }
}